.one{
    color:#ff0000; 
}
#head1{
    text-align:center;
    color:rgb(238,120,238);
}
.two{
    color:;
    text-align: end;
}
#two{
    color: aqua;
}

.two{
    background-repeat:no-repeat ;
        background-image: url("https://t4.ftcdn.net/jpg/06/75/53/11/360_F_675531132_s2zmqxcjlpdilb7MWQal2bfyNqJYb4Ky.jpg");
    }
#five{
    background-image: url("https://store-images.s-microsoft.com/image/apps.30645.9007199266245907.cb06f1f9-9154-408e-b4ef-d19f2325893b.ac3b465e-4384-42a8-9142-901c0405e1bc");
}